$main-color:  #C44816;
$sub-color: #2D579A;


// base///////////////////////////////////////////////////////
body {
    height: 100vh;
    max-width: 1024px;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
    // color: white;
    padding: 0;
    margin: 0;
}

header {
    height: 54px;
    max-width: 1024px;
    padding: 15px;
    .navbar {
        padding: 0;
        a {
            color: black;
            &:visited {
                color: black;
            }
        }

    }
}
main {
    max-width: 1024px;
    margin: auto;
}
.box {
    width: 80%;
    margin: auto;
}
.displayFlex {
    display: flex;
    justify-content: space-around;
}
.displayFlex1 {
    display: flex;
    // justify-content: space-around;
}
.displayFlex2 {
    display: flex;
    flex-wrap: wrap;
}
.textCenter {
    text-align: center;
}
.fontBold {
    font-weight: bold;
}
.underLine {
    border-bottom: 1px solid #a9a9a9;
}
.margin10px {
    margin: .5px;
}
///////////////////////////////////////////////////////////////////////////////////

.aboutMembar-wrap {
    width: 90%;
    margin: auto;
}
.abotMembuar-wrap1 {
    width: 90%;
    margin: auto;
}

.name {
    font-size: 20px;
    font-weight: bold;
}
.instaID {
    color: #a9a9a9;
    font-size: 12px;
}
.participated-title {
    font-weight: bold;
    font-size: 20px;
}





// バリデーション
.invalid-feedback {
    color:  $main-color;
}

.form-control.is-invalid {
    color:  $main-color;
    border-color:   $main-color;
}



